<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>로그인</title>
</head>
<body>
    <header>
        <h1>로그인</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/join">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/login" method="POST">
        <h4>로그인</h4>
        <div>아이디 <input type="text" name="username"></div>
        <div>비밀번호 <input type="password" name="password"></div>
        <button type="submit">로그인</button>
    </form>
    </main>
</body>
</html>
